:root{
    --gap: 20px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.box{
    border: 5px solid grey;
    padding: var(--gap);
    display: flex;
    gap: 20px;
    min-height: 300px;
    border-radius: 80px / 40px;
}
.box-image,
.box-contents{

    padding: var(--gap);
}
.box-image{
    width: 300px;
}
.box-contents{
    text-align: left;
    margin: auto;
    flex-grow: 1;
}

.bottom{
    border: 1px solid var(--color-primary);
    max-width: 1200px;
    margin: 0 auto;
}
.boxs{
    padding: var(--gap);
    display: flex;
    gap: 20px;
    min-height: 300px;
}
.box1,
.box2,
.box3,
.box4{
    padding: var(--gap);
    margin: auto;
    width: 300px;
    height: 200px;
}

